<%= form_for([erp_popups, :backend, popup], html: {multipart: true}) do |f| %>
    <div class="form-body">
        <div class="portlet light bordered">
            <div class="portlet-body form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <%= erp_form_control("text", {
                                    name: 'popup[name]',
                                    value: popup.name,                   
                                    label: t('.name'),
                                    placeholder: t('.enter_name'),
                                    required: true,
                                    errors: popup.errors.full_messages_for(:name)
                                }) %>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <%= erp_form_control("editor", {
                                    name: 'popup[content]',
                                    value: popup.content,                   
                                    label: t('.content'),
                                    placeholder: t('.enter_content')
                                }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= erp_component('button/save', {
        text: t('submit')
    }) %>
    <%= erp_component('button/cancel', {
        text: t('cancel'),
        href: erp_popups.backend_popups_path
    }) %>
<% end %>